.Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: auto;
    margin-top: 80px;
    margin-bottom: 80px;
}

.TitleContainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.Title {
    font-family: 'Outfit', sans-serif;
    font-size: 2.5rem;
    font-weight: bolder;
    color: #000000;
    text-align: left;
    margin: 0;
    padding: 20px;
    word-break: keep-all;
    width: auto;
}

.ProjectsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media screen and (max-width: 1200px) {
    .Title {
        text-align: center;
    }

    .TitleContainer {
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 400px) {
    .Title {
        font-size: 10vw;
    }

    .Container {
        margin: 10px;
    }
}