.noDecoration {
    text-decoration: none;
}

.noDisplay {
    display: none;
}

.navbar {
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    height: 80px;
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    width: auto;
}

.navUL {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-right: 20px;
}

.menu {
    display: flex;
    align-items: center;
}

.hamburguer {
    display: none;
}

.textLogo {
    color: #000;
    font-size: 1.8em;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;

}

.links {
    color: #000;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-left: 20px;
    text-decoration: none;
}

.menuMobile {
    background-color: yellow;
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 960px) {
    .menu {
        display: none;
    }

    .hamburguer {
        display: block;
        cursor: pointer;
    }
}